:root{
  --ui-primary: #32ffdf;

  --rick-blue: #00afc8;
  --morty-yellow: #f8d877;
}

*{
  box-sizing: border-box;
}

@font-face {
  font-family: "GetSchwifty";
  src: url("/webfonts/get_schwifty.ttf") format("truetype");
}

@font-face {
  font-family: "MidNight";
  src: url("/webfonts/MidNight.ttf") format("truetype"),
       url("/webfonts/MidNight.otf") format("opentype");
}

@font-face {
  font-family: "Risk";
  src: url("/webfonts/riskofrainfont.ttf") format("truetype");
}

@font-face {
  font-family: "drkkatrn";
  src: url("/webfonts/drkkatrn.ttf") format("truetype");
}

@font-face {
  font-family: "GnuUnifont";
  src: url("/webfonts/GnuUnifontFull.ttf") format("truetype");
}

/*************/

html{
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
}

body{
  background-color: black;
  color: white;
  font-family: sans-serif, GnuUnifont;
  margin: 0;
  min-height: 100%;
}

h1{
  font-family: GetSchwifty, sans-serif, GnuUnifont;
  font-weight: normal;
  font-size: 42px;
  color: var(--rick-blue);
  text-shadow: 0 0 2px black, 0 0 4px var(--morty-yellow), 0 0 5px var(--morty-yellow);
  margin: 0 0 8px 0;
}

h3{
  margin: 8px 0 0 4px;
  font-size: 14px;
  font-weight: normal;
  font-family: Risk, monospace, GnuUnifont;
  color: var(--ui-primary);
}

p{
  margin: 0 0 4px 0;
  font-size: 18px;
}

/*************/

.border-skewed-l{
  position: relative;
}

.border-skewed-l::before,.border-skewed-l::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: black;
}

.border-skewed-l::before{
  top: -3px;
  left: -3px;
  margin-left: -16px;
  border-right: 4px solid var(--ui-primary);
  transform: skewX(-45deg);
}

.border-skewed-l::after{
  bottom: -3px;
  left: -3px;
  margin-left: -16px;
  border-right: 4px solid var(--ui-primary);
  transform: skewX(45deg);
}

.border-skew-r::before,.border-skew-r::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: black;
}

.border-skew-r::before{
  top: -3px;
  right: -3px;
  margin-right: -16px;
  border-left: 4px solid var(--ui-primary);
  transform: skewX(45deg);
}

.border-skew-r::after{
  bottom: -3px;
  right: -3px;
  margin-right: -16px;
  border-left: 4px solid var(--ui-primary);
  transform: skewX(-45deg);
}


.view-asset-wrap{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-asset-wrap > *{
  pointer-events: none;
}

.view-asset{
  height: 12vh;
  width: auto;
}

.view-asset-big{
  height: 18vh;
  width: auto;
}

.view-asset-small{
  height: 8vh;
  width: auto;
}

.view-asset,.view-asset-big,.view-asset-small{
  object-fit: contain;
  object-position: center;
}

.view-asset-bobbing{
  animation: view-asset-bobbing 1s alternate ease-in-out infinite both;
}

.view-asset-floating{
  animation: view-asset-floating 5s alternate ease-in-out infinite both;
}

.view-asset-portal[data-portal-id="0"]{
  filter: hue-rotate(-22deg);
}
.view-asset-portal[data-portal-id="1"]{
  filter: hue-rotate(10deg);
}
.view-asset-portal[data-portal-id="2"]{
  filter: hue-rotate(50deg);
}
.view-asset-portal[data-portal-id="3"]{
  filter: hue-rotate(85deg);
}
.view-asset-portal[data-portal-id="4"]{
  filter: hue-rotate(116deg);
}
.view-asset-portal[data-portal-id="5"]{
  filter: hue-rotate(144deg);
}
.view-asset-portal[data-portal-id="6"]{
  filter: hue-rotate(170deg);
}
.view-asset-portal[data-portal-id="7"]{
  filter: hue-rotate(230deg);
}
.view-asset-portal[data-portal-id="8"]{
  filter: hue-rotate(260deg);
}
.view-asset-portal[data-portal-id="9"]{
  filter: hue-rotate(288deg);
}
.view-asset-portal[data-portal-id="10"]{
  filter: hue-rotate(324deg);
}


.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes view-asset-bobbing {
  from  { transform: translateY(8%); }
  to    { transform: translateY(-8%); }
}

@keyframes view-asset-floating {
  from  { transform: translateY(5%) rotate(4deg); }
  to    { transform: translateY(-8%) rotate(-2deg); }
}

/*************/

.deco-asset{
}

.deco-text{
  font-family: "drkkatrn";
  color: var(--ui-primary);
  font-size: 16px;
}

.deco-text-side{
  position: absolute;
  transform-origin: center left;
  transform: rotate(-90deg) translate(-100%, -50%);
  font-size: 14px;
}

.deco-svg *{
  stroke: var(--ui-primary);
  stroke-width: 2px;
  fill: transparent;
}

.deco-wave{
  border: 1px solid var(--ui-primary);
  border-width: 0 0 1px 1px;
  margin: 2px;
  background-color: #0f101a;
  width: 10vw;
  height: auto;
}

.deco-wave path{
  animation: svg-scroll-wave 1.5s linear infinite;
}

@keyframes svg-scroll-wave {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

/*************/

#reg-overlay{

}

#reg h2{
  margin-top: 0;
  font-family: MidNight;
  font-size: 48px;
  text-align: center;
}

/*************/

#end-overlay{}

#end-video{
  width: 50vw;
  height: 50vh;
  object-fit: contain;
  object-position: center;
}

/*************/

#wrap{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrap-inner{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}


.panel{
  border: 3px solid var(--ui-primary);
  margin: 16px;
  position: relative;
  padding: 32px 16px;
}

.panel-title{
  position: absolute;
  top: 0;
  left: 32px;
  padding: 4px;
  font-size: 18px;
  color: var(--ui-primary);
  font-family: Risk, monospace, GnuUnifont;
}

#viewport-wrap{
  width: 50vw;
  max-width: 75vmin;
  height: 50vw;
  max-height: 75vmin;
}

#viewport-wrap,#viewport-wrap::before,#viewport-wrap::after{
  padding: 0;
  z-index: 8;
}

#viewport{
  width: 100%;
  height: 100%;

  overflow: hidden;

  background: #000025;
  background: linear-gradient(to top, #11052f, #000025);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#viewport-grid{
  background: url("/img/stars.png");
  background-repeat: repeat;
  background-size: 15vmin;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 0;
}

#viewport-grid > path{
  stroke: var(--ui-primary);
  stroke-width: 3px;
  fill: none;
}

#control{}

.control-callstack{
  border: 2px solid var(--ui-primary);
  padding: 4px 4px 0 0;
  width: 20vmin;
  min-height: 4vmin;
  margin: 8px 4px;
}

#control-program{
  min-height: 8vmin;
}

.control-procedure{}

.control-node{
  width: calc(4vmin - 6px);
  height: calc(4vmin - 6px);
  margin: 0 0 4px 4px;
  background: var(--ui-primary);
  border-radius: 4px;
  position: relative;
  color: black;
  font-family: Risk, monospace, GnuUnifont;
  font-weight: bold;
  float: left;
  cursor: grab;
}

.control-subtext{
  font-family: Risk, monospace, GnuUnifont;
  font-size: 10px;
  margin-left: 8px;
}

.control-node.called{
  animation: control-node-called 0.2s alternate-reverse linear infinite;
}

@keyframes control-node-called {
  from  { background: var(--ui-primary); border: 3px none; color: black; }
  to    { background: transparent; border: 3px solid var(--ui-primary); color: white; }
}


/* .control-node:grabbed{
  cursor: grabbing;
} */

.control-node::before{
  content: attr(data-instruction);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control-node.up::before{
  content: "\2BC5";
}

.control-node.down::before{
  content: "\2BC6";
}

.control-node.right::before{
  content: "\2BC8";
}

.control-node.left::before{
  content: "\2BC7";
}

#control-hint{
  font-family:monospace;
  max-width: 20vmin;
  margin-left: 5px;
  white-space: pre-line;
}
